<h1>Livro Cadastrar</h1>
<hr>

<h1>Cadastrar Livro</h1>
<hr>

<div class="caixas">
<p>Titulo do livro</p>
<input type="text" placeholder="Nome do Livro">
</div>

<div class="caixas">
    <input type="text" placeholder="Categoria">
</div>

<div class="caixas">
    <input type="text" placeholder=" Lorem Ipsum DESCRIÇÃO DO LIVRO he priting and typesetting industry.
    Lorem Ipsum has been the industry’s standard dummy text ever since th">
</div>