<h1>Livro Cadastrar</h1>
<hr>

<div class="caixa">
    <h1>Nome do livro</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis ex iure esse. Soluta recusandae numquam labore alias accusamus suscipit optio obcaecati officiis cum dolore, itaque error veniam excepturi enim. Quasi.</p>
    <p>Categoria</p> 
    <input type="submit" >
    <input type="submit">
    <input type="submit">
</div>

<div class="caixa">
    <h1>Nome do livro</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis ex iure esse. Soluta recusandae numquam labore alias accusamus suscipit optio obcaecati officiis cum dolore, itaque error veniam excepturi enim. Quasi.</p>
    <p>Categoria</p> 
    <p>R$50,00</p>
    <input type="submit" >
    <input type="submit">
    <input type="submit">
</div>

<div class="caixa">
    <h1>Nome do livro</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis ex iure esse. Soluta recusandae numquam labore alias accusamus suscipit optio obcaecati officiis cum dolore, itaque error veniam excepturi enim. Quasi.</p>
    <p>Categoria</p> 
    <input type="submit">
    <input type="submit">
    <input type="submit">
</div>

<div class="caixa">
    <h1>Nome do livro</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis ex iure esse. Soluta recusandae numquam labore alias accusamus suscipit optio obcaecati officiis cum dolore, itaque error veniam excepturi enim. Quasi.</p>
    <p>Categoria</p> 
    <input type="submit">
    <input type="submit">
    <input type="submit">
</div>

<div class="caixa">
    <h1>Nome do livro</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis ex iure esse. Soluta recusandae numquam labore alias accusamus suscipit optio obcaecati officiis cum dolore, itaque error veniam excepturi enim. Quasi.</p>
    <p>Categoria</p> 
    <input type="submit">
    <input type="submit">
    <input type="submit">
</div>

<div class="caixa">
    <h1>Nome do livro</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis ex iure esse. Soluta recusandae numquam labore alias accusamus suscipit optio obcaecati officiis cum dolore, itaque error veniam excepturi enim. Quasi.</p>
    <p>Categoria</p> 
    <input type="submit">
    <input type="submit">
    <input type="submit">
</div>

<footer>
    <h1>Rodapé</h1>
</footer>